<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.propellerhead.dao.NoteDao">

    <select id="get" resultType="com.propellerhead.domain.NoteDO">
        select `note_id`,`customer_id`,`note_content`,
        `create_date`,`update_date`
        from t_note where note_id = #{value}
    </select>

    <select id="list" resultType="com.propellerhead.domain.NoteDO">
        select `note_id`,`customer_id`,`note_content`,
        `create_date`,`update_date`
        from t_note
        <where>
            <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
            <if test="create_date != null and create_date != ''"> and create_date = #{createDate} </if>
            <if test="update_date != null and update_date != ''"> and update_date = #{updateDate} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by note_id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_note
        <where>
            <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
            <if test="create_date != null and create_date != ''"> and create_date = #{createDate} </if>
            <if test="update_date != null and update_date != ''"> and update_date = #{updateDate} </if>
        </where>
    </select>

    <insert id="save" parameterType="com.propellerhead.domain.NoteDO" useGeneratedKeys="true" keyProperty="noteId">
        insert into t_note
        (
        `note_id`,`customer_id`,`note_content`,
        `create_date`,`update_date`
        )
        values
        (
        #{noteId},#{customerId},#{noteContent},
        now(),now()
        )
    </insert>

    <update id="update" parameterType="com.propellerhead.domain.NoteDO">
        update t_note
        <set>
            <if test="noteContent != null">`note_content` = #{noteContent}, </if>
            <if test="updateDate != null">`update_date` = #{updateDate} </if>
        </set>
        where note_id = #{noteId}
    </update>

    <delete id="remove">
        delete from t_note where note_id = #{noteId}
    </delete>

</mapper>